<div class="podcast-list">
    <div class="filter-section">
        <input [(ngModel)]="searchTerm" (input)="search()" placeholder="Buscar...">
    </div>
    <br>
    <!-- Contenedor general de los podcasts -->
    <div class="podcasts">
        <!-- Usaremos solo la lista filteredPodcasts. No es necesario mantener dos listas en el HTML. -->
        <div *ngFor="let podcast of filteredPodcasts" class="podcast-item">
            <div class="podcast-image">
                <img [src]="podcast['im:image'][0].label" alt="Podcast Logo" />
            </div>
            <div class="podcast-details">
                <div class="podcast-title">{{ podcast['im:name'].label }}</div>
                <div class="podcast-author">{{ podcast['im:artist'].label }}</div>
            </div>
        </div>
    </div>
</div>
